
#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

.username-page{
    width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.username-box{
  padding: 20px;
  border: 1px solid black;
}